input,
.boton {
  text-align: center;
  padding: 9px;
  width: 70%;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
  
}

.boton {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #000a23;
  border-radius: 4px;
  width: 50%;
  height: 50px;
}

.titulo_form {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000a23;
  font-size: 40px;
}

@media (max-width: 1000px){
  input{
    width: 50%;
    height: 40px;
    font-size: 15px;
  }

  .boton{
    width: 30%;
    height: 40px;
    font-size: 15px;
  }
}
