* {
  box-sizing: border-box;
  margin: 0;
}

.login {
  width: 90%;
  height: 600px;
  border: 1px solid black;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.item {
  /* width: 100px;
  height: 100px; */
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elemento1 {
  background-color: pink;
}

.elemento2 {
  background-color: rgb(243, 25, 61);
}

.elemento3 {
  background-color: yellow;
}

.elemento4 {
  background-color: burlywood;
}

.elemento5 {  
  background-color: violet;
}

.elemento6 {
  background-color: chocolate;
}

.formulario{
    text-align: center;
    padding: 100%;
}

input{
    width: 300px;
    height: 30px;
}

.botn{
    width: 100%;
    margin-top: 20px;
    height: 30px;
    cursor: pointer;
}

/* .barra {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: yellow;
  float: right;
}

.formulario {
  float: left;
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: aqua;
} */
