.arch_barrita {
  width: 100%;
  background-color: #000a23;
  height: 60px;
  position: fixed;
  z-index: 100;
  top: 0;
}

.imagen_arch{
  display: flex;
  align-items: flex-start;
  width: 50px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

