.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: hsl(223, 100%, 7%);
  overflow: hidden;
}

.libro-logo-blanco {
  width: 60px;
  cursor: pointer;
}

.cerrar-logo {
  width: 60px;
  cursor: pointer;
}

