article {
  position: relative;
  width: 250px;
  transition: all 0.3s ease;
}

article .descrip:last-child {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 150px;
  transform: translateY(25%);
  transition: .3s ease;
  color: white;
  font-size: 50px;
  padding: 5%; */
  position: absolute;
  font-size: 40px;
  color: white;
  transform: translateY(25%);
  transition: 0.3s ease;
  padding: 5%;
  opacity: 0;
}

article::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

article:hover .descrip:last-child {
  opacity: 1;
}

article:hover::before {
  opacity: 1;
}

.autor {
  font-size: 25px;
}

.imagen {
  /* margin: 10px;
    width: 150px;
    min-height: 250px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/caratula.png'); */
  cursor: pointer;
  width: 100%;
  height: 500px;
  margin: 10px;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("../img/caratula.png"); */
}

.imagen:hover {
  transform: scale(1.1);
  transition: 0.5s;
}



/* @media (max-width:1000px){
  .imagen{
    width: 100%;
    height: 400px;
  }
} */

