/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.casa {
  background-color: #fff3e8;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0.1px;
  min-height: 100px;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  gap: 3px 10px;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .contenido {
    width: 1300px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1400px) {
  .contenido {
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .contenido {
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .contenido {
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 352px) {
  .contenido {
    width: 330px;
    gap: 15px;
  }
}
