/* .libro_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px;
}

.sinopsis_tit {
  font-family: "Times New Roman";
  font-size: 30px;
}
.sinopsis {
  font-family: "Times New Roman";
  font-size: 25px;
}
.titulo_libro {
  font-family: "Times New Roman";
}

.datos {
  font-family: verdana;
  display: flex;
  font-size: 25px;
  width: 500px;
  flex-direction: column;
  margin-right: 50px;
}

.caratula {
  width: 400px;
}

.btn_visualizar {
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #000a23;
} */
