.login {
  position: fixed;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

.formulario_cnt {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  width: 95%;
  /* max-width: 600px; */
  height: 95%;
  /* padding: 100%; */
  text-align: center;
  background-color: rgb(255, 243, 232);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_libros {
  background-image: url("../assets/libros.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.libritos {
  font-size: 40px;
  color: #000a23;
  margin-bottom: 50px;
}

.libro-logo {
  width: 140px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .img_libros {
    display: none;
  }
  .login {
    grid-template-columns: 100%;
  }
  .libro-logo{
    width: 100px;
  }
  .titulo_form{
    font-size: 30px;    
  }
}
