.pdf-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 20px;
  background-color: rgb(148, 148, 148);
  margin-top: 50px; */
}

canvas.react-pdf_Page_canvas{
  margin-bottom: 50px;
}
